@import "tailwindcss";
/* styles.css */

@theme {
  --color-primary: #003366;
  --color-secondary: #f5f5f5;
  --color-color3: #fff;
  --color-color4: #fff017;
  --text-big: 16rem;
}

@utility bouton {
  @apply bg-secondary
  hover:bg-gray-100
  text-gray-800
  font-semibold
  py-2 px-4 border
  border-gray-400 rounded shadow;
}

@utility head_pos {
  @apply flex
  flex-row
  justify-between
  items-center;
}
@utility hr {
  @apply w-full
  border-t-4
  h-1
  border-color4;
}
@utility sidebar {
  @apply flex
  items-center
  px-3
  text-gray-600
  text-sm
  transition-colors
  duration-300
  transform
  rounded-xs
  dark:text-gray-200
  hover:bg-gray-100
  dark:hover:bg-gray-800
  dark:hover:text-gray-200
  hover:text-gray-700;
}

@utility cards {
  @apply flex
  flex-col
  bg-white
  border-2
  shadow-sm
  rounded-xl
  p-4
  md:p-5 
  mt-5
  dark:bg-neutral-900
  border-neutral-300
  dark:shadow-neutral-700/70
  max-w-[300px]
  mr-4
  ml-4;
}
@utility cardsbig {
  @apply flex
  bg-white
  border-2
  shadow-sm
  rounded-xl
  p-4
  md:p-5 
  mt-5
  dark:bg-neutral-900
  border-neutral-300
  dark:shadow-neutral-700/70
  w-full
  mr-4
  ml-4;
}
